.clients {
  background-color: $blue;
  border-radius: 200px 0 0 0;
}

.clients__wrap {
  margin: 0 auto;
  padding: 94px 10px 103px;
  width: 100%;
  max-width: 960px;
}

.clients__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: $white;
  width: 223px;
  margin: 0 97px 0 0;

  flex-shrink: 0;
}

.clients__text {
  opacity: 0.6;
  color: $white;
  margin: 0;
  width: 540px;
}


.clients__up-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 97px;
}

.clients__table {
  max-width: 940px;
  width: 100%;
}

.clients__table-row {
  &--1 {
    td {
      border-bottom: 1px solid $white;
    }
  }
}

.clients__table-row td:not(:last-of-type) {
  border-right: 1px solid $white;
}

.clients__table td {
  padding: 46px 4.365%;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  text-align: center;
}

.clients__table .clients__button-wrap {
  padding: 0;
}

.clients__more-button {
  @include reset-button;

  font-size: 20px;
  line-height: 46px;
  color: $white;
  letter-spacing: 0.02em;

  background-color: $navy;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 235px;
  width: 100%;
  padding: 48px 5px;
}

.clients__more-button:hover,
.clients__more-button:focus {
  color: $yellow;
}

.clients__more-button:active {
  opacity: 0.7;
}

.clients__link {
  color: $white;
}

.clients__link:hover,
.clients__link:focus {
  color: $yellow;
}

.clients__link:active {
  opacity: 0.7;
}

@media (max-width: $mobile-width) {
  .clients {
    border-radius: 100px 0 0 0;
  }

  .clients__up-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .clients__title {
    width: auto;
    margin: 0 0 20px;
  }

  .clients__table tbody {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .clients__more-button {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 5px;
    box-shadow: none;

    transition-property: transform, box-shadow;
    transition-duration: 0.7s;
    transition-delay: 0.2s;
  }

  .clients__more-button:hover,
  .clients__more-button:focus {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -10px);
  }

  .clients__table-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--1 td {
      border-bottom: none;
    }
  }

  .clients__table-row td:not(:last-of-type) {
    border-right: none;
  }

  .clients__table td {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .clients__text {
    width: 100%;
  }
}
