.description {
  background-image: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.description__title {
  font-family: "Galien", "Times New Roman", serif;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin: 0 0 30px;
}

.description__text {
  opacity: 0.6;
  margin: 0 0 77px;
}

.description__project-link {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  letter-spacing: 0.04em;
  color: $white;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  background-color: $blue;
  width: 220px;
  padding: 15px 10px;
  position: relative;
  bottom: 0;
  outline: none;
  transition-property: all;
  transition-duration: 0.5s;
}

.description__project-link:hover,
.description__project-link:focus {
  background-color: $navy;
  bottom: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.description__project-link:active {
  opacity: 0.7;
  bottom: 0;
  box-shadow: none;
}

.description__wrap {
  width: 522px;
  padding: 189px 0 190px;
  margin-left: 15.59%;
}

.description__container {
  background-repeat: no-repeat;
  background-image: url("../img/backgrounds/bg-description@1x.png");
  background-size: 50%;
  background-position: top 95px right 3.3%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-description@1x.png");
  }
}


@media (max-width: $mobile-width) {
  .description__wrap {
    margin-left: 0;
    width: auto;

    padding: 350px 10px 100px;
  }

  .description__title {
    font-size: 35px;
    line-height: 35px;
  }

  .description__container {
    background-size: 300px auto;
    background-position: top 90px center;
  }

  .description__project-link {
    left: 50%;
    transform: translateX(-50%);
  }
}
