@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(-50%, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}


.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  width: 540px;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 26px 56px;
  z-index: 100;

  animation-name: fadeInDownBig;
  animation-duration: 1s;

  &--hidden {
    display: none;
  }
}

.popup__close-button {
  @include reset-button;

  position: absolute;
  top: 15px;
  right: 15px;

  width: 25px;
  height: 25px;
  transition-property: transform;
  transition-duration: 1.1s;
  transform: scale(1);
}

.popup__close-button::after,
.popup__close-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 11px;
  left: 0;
  background-color: $blue;
  // transition-property: background-color;
  // transition-duration: 1.1s;
}

.popup__close-button::after {
  transform: rotate(45deg);
}

.popup__close-button::before {
  transform: rotate(-45deg);
}

.popup__close-button:hover {
  transform: scale(1.5);
}

.popup__close-button:hover::before,
.popup__close-button:focus::before,
.popup__close-button:hover::after,
.popup__close-button:focus::after {
  background-color: $navy;
}

.popup__close-button:active {
  opacity: 0.7;
  transform: scale(1);
}

.popup__item {
  border: none;
  margin: 0;
  padding: 0;
}

.popup__submit-button {
  @include reset-button;

  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background-color: $blue;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  padding: 20px;
  opacity: 1;
  transition-property: background-color, opacity;
  transition-duration: 1.1s;
}

.popup__submit-button:hover,
.popup__submit-button:focus {
  background-color: $navy;
}

.popup__submit-button:active {
  opacity: 0.7;
}

.popup__label {
  color: $navy;
  opacity: 0.8;
  line-height: 30px;
  margin-bottom: 8px;
}

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}


.popup__input {
  width: 100%;
  border: 1px solid rgba(53, 110, 173, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 21px 36px;
  line-height: 30px;
  outline: none;
  margin-bottom: 32px;
  z-index: 2;

  &--error {
    border-color: $red;
  }

  &--bounce {
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 0.8s;
  }
}

.popup__textarea {
  width: 100%;
  resize: none;
  padding: 21px 36px;
  border-radius: 10px;
  border: 1px solid rgba(53, 110, 173, 0.4);
  outline: none;
  height: 144px;


  &--error {
    border-color: $red;
  }
}

.popup__input:hover,
.popup__input:focus,
.popup__textarea:hover,
.popup__textarea:focus {
  border-color: $navy;
}

.popup__input--error:focus {
  border-color: $red;
}

.popup__textarea--error:focus {
  border-color: $red;
}

.popup__input::placeholder,
.popup__textarea::placeholder {
  color: $navy;
  opacity: 0.4;
}

.popup__textarea-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.popup__item-wrap {
  display: flex;
  flex-direction: column-reverse;
}

.popup__title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: $navy;
  margin-bottom: 10px;
}

@media (max-width: $mobile-width) {
  .popup {
    width: 100%;
  }
}
