@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
}

@font-face {
  font-family: "Galien";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/galien-regular.woff2") format("woff2"), url("../fonts/galien-regular.woff") format("woff");
}
