$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #000000;
$navy: #1f3f68;
$light-navy: #316099;
$blue: #5a98d0;
$dark-blue: #356ead;
$yellow: #f2c94c;
$mobile-width: 768px;
$red: #f01e1e;
